body{
      
        background-image: url(https://westcoastrxers.files.wordpress.com/2015/05/neon-world-map.jpg?w=1620);
        background-size: 100%;
      
}


.card{
    
    margin-top: 40%;

}


